<h1>Send the e-mail</h1>

<form action='/con9/email_send' method="POST">
			To : <input type="e-mail" name="_to"><br>
			CC : <input type="text" name="_cc"><br><br>
	       	Title : <input type="text" name="title"><br><br>
	       	Content :<br>
<textarea rows="3" cols="50" name="content">
</textarea>
<input type="submit" value="전송">
</form>

