<%= render :partial => "con8/title" %>
<form action="/con8/join_process" method="POST">
    ID : <input type="text" name="username"><br>
    PW : <input type="password" name="password">
    <input type="submit" value="Sign in">
</form>
<br>
<a href="/con8/index.html">Go Home</a>