<%= render :partial => "con8/title" %>


<form action="/con8/login_process" method="POST">
    ID : <input type="text" name="username"><br>
    PW : <input type="password" name="password"><input type="submit" value="Login">
</form>

<a href="/con8/join">Sign in</a>